:root { 
    --color-background: #4e98d0;
    --color-container-background: #ffffffd6;
    --color-h1: #005bac; 
    --text-color: #333; 
    --button-bg: #5865F2; 
    --button-hover: #4752c4;
    --link-hover: #000000; 
}
@media (prefers-color-scheme: dark) {
    :root{ 
    --color-background: #1e185d;
    --color-container-background: #ccccccd1; 
    --color-h1: #004f94; 
    --text-color: #121212;
    --button-bg: #282e84;  
    --button-hover: #4752c4;
    --link-hover: #333; 
   }
 }

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color);
}

.container {
    background: var(--color-container-background);
    padding: 2.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: center;
    max-height: 85vh; /* Maximum height is the full screen */
    overflow-y: auto;  
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    color: var(--color-h1);
}

p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}

hr {
    border: none;
    height: 1px;
    background: var(--text-color);
}

a.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: var(--button-bg);
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background 0.2s ease;
}

a.button:hover {
    background-color: var(--button-hover);
}

a.privacy{
    color: var(--text-color);
}

a.privacy:hover{
    color:var(--link-hover);
}